/* TailwindCSS styles for mobile responsiveness */

/* Mobile (small screens) */
@media (max-width: 640px) {
  .mobile-login-body {
    text-align: center;
    font-size: 2rem;
    padding: 0 1rem;
    width: 100%;
  }

  .mobile-login-heading {
    font-size: 3rem;
    margin-top: 100px;
  }

  .mobile-modal {
    width: 90%;
    padding: 1rem;
  }
}

/* Tablet and larger screens */
@media (min-width: 641px) {
  .mobile-login-body {
    /* width: 1000px; */
  }

  .mobile-login-heading {
    font-size: 5rem;
    margin-top: 200px;
  }

  .mobile-modal {
    width: 1000px;
  }
}
